body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    margin: 0;
    background-color: #001F3F; 
}

#chart {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    width: 15%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
}

#instructions {
    left: 0;
    display: flex;
    flex-direction: column;
}

#info-box {
    right: 0;
    display: none;
}

.centered-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.dash-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.dash-list li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
}

.dash-list li:before {
    content: "-";
    position: absolute;
    left: 0;
}

h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.node-label {
    pointer-events: none;
    text-anchor: middle;
    dominant-baseline: middle;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px;  
}

.segment {
    transition: all 0.2s;
}

.segment:hover {
    filter: brightness(1.1);
}

#text {
    font-family: Arial, sans-serif;
    font-size: 10px;
    fill: #fff;
    cursor: pointer;
}

.button-group text {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.configure-button {
    fill: #4CAF50;
}

.reset-button {
    fill: #f44336;
}

.arrow {
    cursor: pointer;
}

.arrow path {
    fill: none;
    stroke: #fff;
    stroke-width: 5;
    stroke-linejoin: round;
    stroke-linecap: round;
}

#search-container {
    margin-top: 20px;
    text-align: center;
}

#search-input {
    width: 90%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

#search-results {
    max-height: 300px;
    overflow-y: auto;
    text-align: left;
}

.highlighted {
    stroke: #FFD700;
    stroke-width: 3px;
}

.search-result {
    cursor: pointer;
    padding: 5px;
    list-style-type: none;
}

.search-result:hover {
    background-color: #f0f0f0;
}

.search-result.selected {
    background-color: #e0e0e0;
    font-weight: bold;
}

#search-results ul {
    padding-left: 0;
    margin-bottom: 0;
}